# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/out/production/classes/META-INF/hw6-bubblesort-insertionsort-shellsort.kotlin_module
/out/production/classes/ru/otus/algorithms/sort/simple/ArraySorter$shellSort$1.class
/out/production/classes/ru/otus/algorithms/sort/simple/ArraySorter.class
/out/production/classes/ru/otus/algorithms/sort/simple/ArraySorterKt$step$1.class
/out/production/classes/ru/otus/algorithms/sort/simple/ArraySorterKt.class
/out/production/classes/ru/otus/algorithms/sort/simple/MainKt.class
/out/test/classes/META-INF/hw6-bubblesort-insertionsort-shellsort_test.kotlin_module
/out/test/classes/ru/otus/algorithms/sort/simple/FileSourcedArraysTester$test$1.class
/out/test/classes/ru/otus/algorithms/sort/simple/FileSourcedArraysTester$test$2.class
/out/test/classes/ru/otus/algorithms/sort/simple/FileSourcedArraysTester$test$array$1.class
/out/test/classes/ru/otus/algorithms/sort/simple/FileSourcedArraysTester$test$expectedArray$1.class
/out/test/classes/ru/otus/algorithms/sort/simple/FileSourcedArraysTester.class
/out/test/classes/ru/otus/algorithms/sort/simple/FileSourcedArraysTesterKt$printMeasurements$1.class
/out/test/classes/ru/otus/algorithms/sort/simple/FileSourcedArraysTesterKt.class
/out/test/classes/ru/otus/algorithms/sort/simple/Test.class
/out/test/resources/sorting-tests/0.random/test.0.in
/out/test/resources/sorting-tests/0.random/test.0.out
/out/test/resources/sorting-tests/0.random/test.1.in
/out/test/resources/sorting-tests/0.random/test.1.out
/out/test/resources/sorting-tests/0.random/test.2.in
/out/test/resources/sorting-tests/0.random/test.2.out
/out/test/resources/sorting-tests/0.random/test.3.in
/out/test/resources/sorting-tests/0.random/test.3.out
/out/test/resources/sorting-tests/0.random/test.4.in
/out/test/resources/sorting-tests/0.random/test.4.out
/out/test/resources/sorting-tests/0.random/test.5.in
/out/test/resources/sorting-tests/0.random/test.5.out
/out/test/resources/sorting-tests/0.random/test.6.in
/out/test/resources/sorting-tests/0.random/test.6.out
/out/test/resources/sorting-tests/0.random/test.7.in
/out/test/resources/sorting-tests/0.random/test.7.out
/out/test/resources/sorting-tests/1.digits/test.0.in
/out/test/resources/sorting-tests/1.digits/test.0.out
/out/test/resources/sorting-tests/1.digits/test.1.in
/out/test/resources/sorting-tests/1.digits/test.1.out
/out/test/resources/sorting-tests/1.digits/test.2.in
/out/test/resources/sorting-tests/1.digits/test.2.out
/out/test/resources/sorting-tests/1.digits/test.3.in
/out/test/resources/sorting-tests/1.digits/test.3.out
/out/test/resources/sorting-tests/1.digits/test.4.in
/out/test/resources/sorting-tests/1.digits/test.4.out
/out/test/resources/sorting-tests/1.digits/test.5.in
/out/test/resources/sorting-tests/1.digits/test.5.out
/out/test/resources/sorting-tests/1.digits/test.6.in
/out/test/resources/sorting-tests/1.digits/test.6.out
/out/test/resources/sorting-tests/1.digits/test.7.in
/out/test/resources/sorting-tests/1.digits/test.7.out
/out/test/resources/sorting-tests/2.sorted/test.0.in
/out/test/resources/sorting-tests/2.sorted/test.0.out
/out/test/resources/sorting-tests/2.sorted/test.1.in
/out/test/resources/sorting-tests/2.sorted/test.1.out
/out/test/resources/sorting-tests/2.sorted/test.2.in
/out/test/resources/sorting-tests/2.sorted/test.2.out
/out/test/resources/sorting-tests/2.sorted/test.3.in
/out/test/resources/sorting-tests/2.sorted/test.3.out
/out/test/resources/sorting-tests/2.sorted/test.4.in
/out/test/resources/sorting-tests/2.sorted/test.4.out
/out/test/resources/sorting-tests/2.sorted/test.5.in
/out/test/resources/sorting-tests/2.sorted/test.5.out
/out/test/resources/sorting-tests/2.sorted/test.6.in
/out/test/resources/sorting-tests/2.sorted/test.6.out
/out/test/resources/sorting-tests/2.sorted/test.7.in
/out/test/resources/sorting-tests/2.sorted/test.7.out
/out/test/resources/sorting-tests/3.revers/test.0.in
/out/test/resources/sorting-tests/3.revers/test.0.out
/out/test/resources/sorting-tests/3.revers/test.1.in
/out/test/resources/sorting-tests/3.revers/test.1.out
/out/test/resources/sorting-tests/3.revers/test.2.in
/out/test/resources/sorting-tests/3.revers/test.2.out
/out/test/resources/sorting-tests/3.revers/test.3.in
/out/test/resources/sorting-tests/3.revers/test.3.out
/out/test/resources/sorting-tests/3.revers/test.4.in
/out/test/resources/sorting-tests/3.revers/test.4.out
/out/test/resources/sorting-tests/3.revers/test.5.in
/out/test/resources/sorting-tests/3.revers/test.5.out
/out/test/resources/sorting-tests/3.revers/test.6.in
/out/test/resources/sorting-tests/3.revers/test.6.out
/out/test/resources/sorting-tests/3.revers/test.7.in
/out/test/resources/sorting-tests/3.revers/test.7.out
/out/test/resources/jun_table.png
